<!DOCTYPE html>
<html lang="en">
<body>

<header th:fragment="header" class="header text-center">
    <h1>ePlanner</h1>
    <h5>Plan your day, anytime, anywhere</h5>
</header>

<nav th:fragment="nav" class="navbar navbar-expand-lg navbar-dark">
    <div class="container">
        <a class="navbar-brand" href="/">Logo</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link" href="/events/add">Add event</a></li>
                <li class="nav-item"><a class="nav-link" href="/events">Your events</a></li>
                <li class="nav-item">
                    <a class="nav-link" href="/profile"
                       th:text="'Profile (' + ${gUsername} + ')'">
                        Profile
                    </a>
                </li>
                <li class="nav-item">
                    <form th:action="@{/logout}" method="POST">
                        <button class="nav-link" type="submit">Logout</button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>

<footer th:fragment="footer" class="footer text-center mt-auto">
    <p>© 2025 created by: Sebastian Górski</p>
</footer>

</body>
</html>